{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Внимание!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% progressive_web_app_meta %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <script src="{% static 'js/typed.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/fotos.js' %}"></script>
</head>
<body>
    <div><span id="par1"></span></div>
    <div class="img-container">
        <span id="img1"></span>
        <div class="first vertical line"></div>
        <div class="second vertical line"></div>
        <div class="first horizontal line"></div>
        <div class="second horizontal line"></div>
    </div>
    <div><span id="par2"></span></div>
    <div id="inputs"></div>
    <div class="img-container">
        <span id="img2"></span>
        <img src="{% static 'img/IMG_7368.JPG' %}"/>
    </div>
    <div><span id="par3"></span></div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>